<!--<h1>Editing evidence</h1>

<%#= render 'form' %>

<%#= link_to 'Show', @evidence %> |
<%#= link_to 'Back', evidences_path %>
-->

<%= render 'evidences' %>

<div class="edit-form">
  <span style="font-weight:bold;">Editing evidence</span>
  <%= render 'form' %>
</div>
