<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @inference_rule.description %>
</p>


<%= link_to 'Edit', edit_inference_rule_path(@inference_rule) %> |
<%= link_to 'Back', inference_rules_path %>
